
FINAL FANTASY PIXEL REMASTERS/FF1-Monsters.txt
FINAL FANTASY PIXEL REMASTERS/monster.csv
FINAL FANTASY PIXEL REMASTERS/system_en.csv
FINAL FANTASY PIXEL REMASTERS/catalog.json
FINAL FANTASY PIXEL REMASTERS/catalog/
FINAL FANTASY PIXEL REMASTERS/content.csv
FINAL FANTASY PIXEL REMASTERS/keyiv.bytes
FINAL FANTASY PIXEL REMASTERS/FF4-Monsters.txt
